<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Empowering AI-driven Radiology</h1>
            <hr>
            <p>There can be no denying the potential of AI in healthcare. However, the urgent need for accessible, quality annotated medical data remains challenging. This is where we come in as your trusted partner, providing you with the essential tools to enable the development of advanced AI tools. At insparian, we understand the importance of data integrity and regulatory compliance. We deliver all our work compliant with current and upcoming EU Digital Regulations, including the AI Act.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
