<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lightbulb wow bounceIn text-primary"></i>
                    <h3>Medical & Product Strategy</h3>
                    <p class="text-muted">Providing tailored guidance on product vision, development strategy, and positioning in the medical AI market.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-balance-scale wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Legal Advisory</h3>
                    <p class="text-muted">EU Digital Regulations and AI Act, MDR compliance. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-stethoscope wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>AI Validation</h3>
                    <p class="text-muted">Validate the AI model output to meet clinical standards.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-x-ray wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Medical Imaging Annotation</h3>
                    <p class="text-muted">Offering precise and expert-driven annotation of medical imaging data to support AI model training and validation.</p>
                </div>
            </div>
        </div>
    </div>
</section>
